[data-bs-theme-base="neutral"] {
  --tblr-gray-50: #fafafa;
  --tblr-gray-100: #f5f5f5;
  --tblr-gray-200: #e5e5e5;
  --tblr-gray-300: #d4d4d4;
  --tblr-gray-400: #a3a3a3;
  --tblr-gray-500: #737373;
  --tblr-gray-600: #525252;
  --tblr-gray-700: #404040;
  --tblr-gray-800: #262626;
  --tblr-gray-900: #171717;
  --tblr-gray-950: #0a0a0a;
}

.g-recaptcha {
  overflow: hidden;
  width: 298px;
  height: 74px;
}

.g-recaptcha iframe {
  margin: -1px 0px 0px -2px;
}

.logo-image {
  height: 2rem;
  width: auto;
}

/* Demo CSS Start */
.z-50 {
    z-index: 50;
}

.start-8 {
    inset-inline-end: 2rem;
}

.bottom-8 {
    bottom: 3rem;
}

.fixed {
    position: fixed;
}

.duration-300 {
    transition-duration: .3s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.bg-\[\#262626\] {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity, 1));
}

[data-bs-theme=dark] .bg-\[\#262626\] {
    --tw-bg-opacity: 1;
    background-color: white;
}

.rounded-full {
    border-radius: 9999px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.size-12 {
    width: 3rem;
    height: 3rem;
}

.inline-flex {
    display: inline-flex;
}
/* Demo CSS End */